<!-- Footer -->
<div class="text-center">
    <div class="footer-above">
        <a class="anchor" id="kontakt"></a>
        <div class="container">
            <div class="row">
                <h2>Kontakt</h2>
                <div class="footer-col col-md-4">
                    <h4>Rektor</h4>
                    <ul class="list-unstyled">
                        <li>{{ site.rektor_namn }}</li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            {{ site.rektor_telefon }}
                        </li> 
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:{{ site.rektor_mail }}">{{ site.rektor_mail }}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Kontakt</h4>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            {{ site.kontakt_telefon }}
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:{{ site.kontakt_mail }}">{{ site.kontakt_mail }}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Styrelsen</h4>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:{{ site.styrelsen_mail }}">{{ site.styrelsen_mail }}</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:ordforande@barnlaten.se">Ordförande</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:ekonomi@barnlaten.se">Ekonomiansvarig</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:mat@barnlaten.se">Matansvarig</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:lokaler@barnlaten.se">Lokalansvarig</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:personalansvarig@barnlaten.se">Personalansvarig</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:personuppgifter@barnlaten.se">Personuppgiftsansvarig</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:skolchef@barnlaten.se">Skolchef</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:it@barnlaten.se">IT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>Adress</h3>
                    <p>
                    {{ site.address_street }}<br>
                    {{ site.address_zip }}, {{ site.address_city }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/?ll=57.65942%2C11.911357&amp;spn=0.008173%2C0.022273&amp;ie=UTF8&amp;z=15&amp;t=roadmap&amp;sll=57.65942%2C11.911357&amp;sspn=0.008173%2C0.022273&amp;q=Fiolgatan%2020%20421%2041%20V%C3%A4stra%20Fr%C3%B6lunda%2C%20Sweden%20(Fiolgatan%2020%2C%20421%2041%20V%C3%A4stra%20Fr%C3%B6lunda)&amp;output=embed"></iframe>
    </section>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
