<!-- Footer -->
<footer class="text-center">
    <div class="footer-above" id="kontakt">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Förskolechef</h4>
                    <ul class="list-unstyled">
                        <li>Emelie Andersson</li>
                        <li><i class="fa fa-phone fa-fw"></i>031-47 19 71 </li> 
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:emelie.andersson@barnlaten.se">emelie.andersson@barnlaten.se</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Kontakt</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i>031-47 19 71 </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kontakt@barnlaten.se">kontakt@barnlaten.se</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Styrelsen</h4>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:styrelsen@barnlaten.se">styrelsen@barnlaten.se</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>Adress</h3>
                    <p>{{ site.address_street }}
                        <br>{{ site.address_zip }}, {{ site.address_city }}</p>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/?ll=57.65942%2C11.911357&amp;spn=0.008173%2C0.022273&amp;ie=UTF8&amp;z=15&amp;t=roadmap&amp;sll=57.65942%2C11.911357&amp;sspn=0.008173%2C0.022273&amp;q=Fiolgatan%2020%20421%2041%20V%C3%A4stra%20Fr%C3%B6lunda%2C%20Sweden%20(Fiolgatan%2020%2C%20421%2041%20V%C3%A4stra%20Fr%C3%B6lunda)&amp;output=embed"></iframe>
    </section>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Barnlåten {{ site.time | date: "%Y" }}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
