<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/barnlaten.jpg" alt="Barnlåten">
                <!-- Line below commented out. Uncomment whenever needed --> 
                <!-- <b><big>Vi har lediga platser! Välkomna att söka! Vid intresse vänligen kontakta rektor Namn Efternamn (Telefon)!</big></b> --> 
                <!-- Line above commented out. Uncomment whenever needed --> 

                <!-- Line below NOT commented out. Comment back whenever needed --> 
                <img class="img-responsive" src="img/barnlaten.jpg" alt="Barnlåten">
                <!-- Line above NOT commented out. Comment back whenever needed --> 
            </div>       
        </div>
    </div>
</header>
