<!DOCTYPE html>
<html>
  {% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  {% include header.html %}
  {% for post in site.posts %}
  {{ content }}
    <section {% cycle '', 'class="success"' %} id="{{ post.title }}">
      <img src="../img/DSC_0660.jpg"/>
      <div class="container">
      {{ post.content }}
      </div>
    </section>
  {% endfor %}
  {% include footer.html %}
  {% include javascript.html %}
</body>
</html>                                		