<!DOCTYPE html>
<html>
  {% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  {% include header.html %}
  {% for post in site.index_parts %}
  {{ content }}
  <!--<section>
    <img src="../img/ledigaplatser.jpg" />
  </section>-->
  <section {% cycle '', 'class="success"' %}>
    <img src="../img/{{ post.image }}" />
    <a class="anchor" id="{{ post.title }}"></a>
    <div class="container">
      {{ post.content | markdownify }}
    </div>
  </section>
  {% endfor %}
  {% include contacts.html %}
  {% include footer.html %}
  {% include javascript.html %}
</body>
</html>                                		
